body{
    font-family: Microsoft YaHei;
    background-color: #efefef;
}

a {
    cursor:pointer;
}

.nav-bar a{
    font-size: 14px;
    line-height: 3;
    color: #636363;
}

.search_input{
    margin: 0 auto;
    text-align: center;
    #padding: 25px 0 25px;
    #position: relative;
}

.search_value{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #556566;
    outline: none;
    padding-left: 20px;
}

.search_btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}